

body{

    background-image: url("../images/LoginBack.jpg");

}

.container
{
    width: 100%;

}
.row{

    padding-left: 40%;
    padding-top: 10%;


}


a{
    color: red;
    text-decoration-style: solid;

}

.error{
    color: red;
}